@charset"utf-8";
body{
	magin:0;
}
.container{
	margin:0 auto 0 auto;
	max-width: 1000px;
}

section .container{
	display: flex;
	flex-flow:column;
}
main {
	flex: 1 1 auto;
}

.sidebar{
	flex: 0 0 340px;
}

.header-inner{
	padding:10px 10px 0 10px;
	background:#bad7f5;
}

main {
	padding:20px 10px 20px 10px;
	background:#fffde3;
	/*
    レイアウトのイメージをしやすいように高さを設定。
    通常のWebデザインではレイアウトで高さを指定しない
	*/
	height: 400px;
}
.sidebar {
	padding:20px 10px 20px 10px;
	background: #c0f5b9;
}
.footer-inner{
	padding:20px 16px 10px 16px;
	background: #bad7f5;
}
body{
	color:#444;
}
main p:last-child{
	margin-bottom: 0;
}
.main-title{
	margin: 0;
}
.copyright{
	margin: 0;
}
nav{
	margin-bottom:20px;
}
footer{
	margin-top:20px;
}

.hamburger{
	border: none;
	width:50px;
	height:50px;
	background: url(hamburger.png)no-repeat;
	background-size: contain;
}

.navbar {
	display: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: #565656;
}

.navbar li a{
	display: block;
	padding: 10px 8px;
	color: #fff;
	text-decoration: none;
}

.navbar li a:hovar {
	background: #fff;
	color: #565656;
}

@media only screen and (min-width: 768px){
	section .container{
		flex-flow: row;
	}
}

.hamburger {
	display: none;
}

.navbar {
	display: flex !important;
}
